body {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  background-color: #e9ecef;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; 
}

.App {
  max-width: 800px;
  width: 100%;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
}

h1, h2 {
  color: #343a40;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 20px;
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin: 0 auto; 
}

label {
  font-weight: bold;
  color: #495057;
}

input[type="text"],
input[type="number"],
input[type="date"] {
  padding: 10px;
  border: 1px solid #ced4da;
  border-radius: 5px;
  font-size: 16px;
}

input[type="text"]:focus,
input[type="number"]:focus,
input[type="date"]:focus {
  outline: none;
  border-color: #80bdff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.25);
}

button {
  background-color: #007bff;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 300px; 
  margin-top: 10px; 
}

button:hover {
  background-color: #0056b3;
}


ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  padding: 15px;
  border-bottom: 1px solid #ced4da;
  display: flex;
  justify-content: space-between;
}

li:last-child {
  border-bottom: none;
}

.Summary {
  padding: 15px;
  background-color: #f8f9fa;
  border-radius: 5px;
  border: 1px solid #ced4da;
}

.Summary p {
  margin: 0;
  font-weight: bold;
  color: #495057;
}

.sections {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 20px;
}

.TransactionList {
  color: #343a40;
  padding: 15px;
  background-color: #f8f9fa;
  border-radius: 5px;
  border: 1px solid #ced4da;
  overflow-y: auto;
  max-height: 400px; 
}
